@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Poppins,sans-serif;
}

.header{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 200px;
}

.header-list nav{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
}
.header-list img{
    display: none;
}
  nav a{
    text-decoration: none;
    color: #565757;
    font-size: 14px;
}
nav a:hover{
    color: #2B9BD6;
}

nav .animation{
    position: absolute;
    height: 3px;
    bottom: -32px;
    z-index: 0;
    width: 100px;
    background-color: #565757;
    transition: all .5s ease 0s;
}

a:nth-child(3){
    color: #2B9BD6;
    width: 50px;
}
nav .start-home,a:nth-child(2):hover ~.animation{
    width: 100px;
    left: -30px;
}
a:nth-child(2){
    width: 50px;
}
nav .start-product,a:nth-child(3):hover ~.animation{
    background-color: #2B9BD6;
    width: 110px;
    left: 104px;
}
a:nth-child(3){
    width: 50px;
}
nav .start-About,a:nth-child(4):hover ~.animation{
    width: 110px;
    left: 215px;
}

nav .contact-btn{
    display: flex;
    width: 120px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: #6FC053;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
}


/* product */

.home-product{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center ;
    padding-top: 100px;
    margin-bottom: 100px;
    border-top: 1px solid rgb(201, 203, 203,0.5);
}

.home-product h1{
    text-transform: uppercase;
    color: #2B9BD6;
    font-size: 20px;
}

.home-product label{
    font-size: 40px;
    font-weight: 400;
    color: #565757;
    letter-spacing: 4px;
    margin: 40px 0;
}

.product-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background:#fff;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.left:hover{
    transform: translate(-5px, 0);
}
.left img{
    width: 16px;
    height: 16px;
}
.middle img{
    width: 800px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background:#2B9BD6;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.right:hover{
    transform: translate(5px,0); 
}
.right img{
    width: 16px;
    height: 16px;
}
.overview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 50px;
}
.overview h2{
    display: flex;
    width: 25%;
    color: #565757;
    font-weight: 400;
    font-size: 30px;
}

.overview span{
    display: flex;
    width: 60%;
    text-align: left;
    color: #565757;
    font-weight: 300;
    letter-spacing: 2px;
}

/* usage and dosage */
.usage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center ;
    justify-content: center;
    margin-bottom: 100px;
}

.usage h1{
    text-transform: uppercase;
    color: #2B9BD6;
    font-size: 20px;
}

.dosage{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.element{
    display: flex;
    align-items: center;
}

.element h2{
    color: #C9CBCB;
    font-size: 30px;
    margin-right: 26px;
}

.item h3{
    font-size: 23px;
    font-weight: 500;
    color: #565757;
    margin-top: 12px;
}

.item p{
    width: 80%;
    font-size: 16px;
    font-weight: 300;
    color: #565757;
    letter-spacing: 2px;
}
/* product about */
.product-about{
    display: flex;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    background: url('../img/product-about.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
.product-about-details{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
    width: 90%;
    color: #fff;
}
.product-about-details h1{
    font-size: 60px;
}
.product-about-details p{
    font-size: 26px;
    letter-spacing: 6px;
}
/* partner */

.home-partner{
    display: flex;
    width: 100%;
    height: 550px;
    border-top: 1px solid rgb(201, 203, 203,0.5);
}

.home-partner-content{
    display: flex;
    width: 100%;
    margin-top: 120px;

}
.phase-text{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 90px;
}
.phase-text h1{
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #565757;
}
.phase-text p{
    font-size: 16px;
    letter-spacing: 5px;
    margin-top: 40px;
    font-weight: 300;
    color: #565757;
}

.phase-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}
.phase-icons img{
    width: 36%;
    height: 150px;
}

.home-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 550px;
    background: #F1F1F1;
    margin-top: 150px;
}

.footer-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 85%;
}
.logo-black{
    width: 28%;
}
.links{
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.links a{
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #6FC053;
}
.icons{
    display: flex;
    list-style: none;
    width: 28%;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.icons img{
    width: 28px;
}
.footer-end{
    display: flex;
    width: 100%;
    border-top: 1px solid rgb(201, 203, 203,0.5);
    height: 15%;
}


.end-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.end-details p{
    font-size: 14px;
    color: #565757;
}

.back{
    display: flex;
    width: 14%;
    justify-content: space-between;
    align-items: center;
}
.back p{
    margin-top: 15px;
}
.float{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background:#F1F1F1;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.float:hover{
    transform: translate(0, -5px);
}
.float img{
    width: 10px;
}

/* For extremely small screen devices (595px and below) */
@media only screen and  (max-width: 595px) {
    .header{
        display: flex;
        width: 90%;
        height: 100px;
        justify-content: space-between;
        align-items: center;
    }
    .logo img{
        width: 180px;
    }
    .header-list nav{
        /* display: flex;
        width: 500px;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative; */
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        padding-top: 40px;
        padding-left: 40px;
        width: 70%;
        height: 100vh;
        right: 0;
        top: 0;
        background: #fff;
        z-index: 999;
        transform: translateX(100%);
        transition: transform .2s ease-in-out;
    }
    .header-list .open-nav{
        transform: translateX(0%);
    }
    .header-list .close{
        display: block;
        width: 20px;
        margin-bottom: 70px;
        transition: all .1s;
    }
    .header-list .menu{
        display: flex;
        width: 20px;
    }
      .open-nav a{
        text-decoration: none;
        color: #565757;
        font-size: 14px;
        margin-bottom: 60px;
    }
    .open-nav a:hover{
        color: #2B9BD6;
    }
    
    nav .animation{
        /* position: absolute;
        height: 3px;
        bottom: -32px;
        z-index: 0;
        width: 100px;
        background-color: #565757;
        transition: all .5s ease 0s; */
        display: none;
    }
    
    a:nth-child(3){
        color: #2B9BD6;
        width: 50px;
    }
        
    nav .start-home,a:nth-child(2):hover ~.animation{
        width: 100px;
        left: -30px;
    }
    a:nth-child(2){
        width: 50px;
    }
    nav .start-Product,a:nth-child(3):hover ~.animation{
        background-color: #2B9BD6;
        width: 110px;
        left: 95px;
    }
    a:nth-child(3){
        width: 50px;
    }
    nav .start-About,a:nth-child(4):hover ~.animation{
        width: 110px;
        left: 215px;
    }
    
    nav .contact-btn{
        display: flex;
        width: 120px;
        height: 35px;
        justify-content: center;
        align-items: center;
        background: #6FC053;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        border-radius: 6px;
    }

    /* product */
    
    .home-product{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center ;
        margin-bottom: 100px;
    }
    
    .home-product h1{
        text-transform: uppercase;
        color: #2B9BD6;
        font-size: 15px;
    }
    
    .home-product label{
        font-size: 20px;
        font-weight: 400;
        color: #565757;
        letter-spacing: 4px;
        margin: 20px 0;
    }
    
    .product-section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background:#fff;
        border: 1px solid rgb(161, 161, 161);
        border-radius: 50px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .left:hover{
        transform: translate(-5px, 0);
    }
    .left img{
        width: 8px;
        height: 8px;
    }
    .middle img{
        width: 230px;
    }
    
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background:#2B9BD6;
        border-radius: 50px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .right:hover{
        transform: translate(5px,0); 
    }
    .right img{
        width: 8px;
        height: 8px;
    }
    
    .overview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
    }
    .overview h2{
        display: flex;
        width: 25%;
        color: #565757;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .overview span{
        display: flex;
        width: 90%;
        text-align: left;
        color: #565757;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 2px;
    }
    
    /* usage and dosage */
    .usage{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
    
    .usage h1{
        text-transform: uppercase;
        color: #2B9BD6;
        font-size: 15px;
    }
    
    .dosage{
        display: flex;
        flex-direction: column;
        height: 120vh;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }
    .element{
        display: flex;
        align-items: center;
        width: 65%;
        margin-bottom: 40px;
    }
    
    .element h2{
        color: #C9CBCB;
        font-size: 24px;
        /* margin-right: 26px; */
    }

    .item h3{
        font-size: 18px;
        font-weight: 500;
        color: #565757;
        margin-top: 12px;
    }
    
    .item p{
        width: 90%;
        font-size: 13px;
        font-weight: 300;
        color: #565757;
        letter-spacing: 2px;
    }
/* 
    .item .second{
        width: 40%;
    }

    .item .third{
        width: 40%;
    } */

    /* product about */
    .product-about{
        display: flex;
        padding-top: 100px;
        width: 100%;
        height: 100vh;
        background: url('../img/product-about.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;
    }
    .product-about-details{
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: space-between;
        width: 90%;
        color: #fff;
    }
    .product-about-details h1{
        font-size: 22px;
    }
    .product-about-details p{
        font-size: 12px;
        letter-spacing: 2px;
    }

    
    /* partner */
    
    .home-partner{
        display: flex;
        width: 100%;
        height: 250px;
        border-top: 1px solid rgb(201, 203, 203,0.5);
        justify-content: center;
        align-items: center;
    }
    
    .home-partner-content{
        display: flex;
        flex-direction: column;
        width: 90%;
    
    }
    .phase-text{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 90px;
    }
    .phase-text h1{
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #565757;
    }
    .phase-text p{
        font-size: 10px;
        letter-spacing: 1px;
        margin-top: 20px;
        font-weight: 300;
        color: #565757;
    }
    
    .phase-icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 25px;
    }
    .phase-icons img{
        width: 40%;
        height: 85px;
    }
    
    .home-footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: #F1F1F1;
        margin-top: 150px;
    }
    
    .footer-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 90%;
    }
    .logo-black{
        width: 35%;
    }
    .links{
        display: flex;
        list-style: none;
        width: 80%;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .links a{
        font-size: 11px;
        font-weight: 500;
        text-decoration: none;
        color: #6FC053;
    }
    .icons{
        display: flex;
        list-style: none;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .icons img{
        width: 18px;
    }
    .footer-end{
        display: flex;
        width: 100%;
        border-top: 1px solid rgb(201, 203, 203,0.5);
        height: 12%;
    }
    
    
    .end-details{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }
    .end-details p{
        margin-top: 15px;
        width: 70%;
        font-size: 10px;
        color: #565757;
    }
    
    .back{
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;
    }
    .back p{
        font-size: 8px;
        margin-top: 18px;
    }
    .float{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        background:#F1F1F1;
        border: 1px solid rgb(161, 161, 161);
        border-radius: 50px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .float:hover{
        transform: translate(0, -5px);
    }
    .float img{
        width: 6px;
    }
}
 

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 600px) and (max-width: 888px) {
    .header{
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo img{
        width: 150px;
    }
    
    .header-list nav{
        display: flex;
        width: 400px;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
    }
    .header-list img{
        display: none;
    }
      nav a{
        text-decoration: none;
        color: #565757;
        font-size: 13px;
    }
    nav a:hover{
        color: #2B9BD6;
    }
    
    nav .animation{
        position: absolute;
        height: 3px;
        bottom: -32px;
        z-index: 0;
        width: 100px;
        background-color: #565757;
        transition: all .5s ease 0s;
    }
    
    a:nth-child(3){
        color: #2B9BD6;
        width: 50px;
    }
    nav .start-home,a:nth-child(2):hover ~.animation{
        width: 100px;
        left: -30px;
    }
    a:nth-child(2){
        width: 50px;
    }
    nav .start-product,a:nth-child(3):hover ~.animation{
        background-color: #2B9BD6;
        width: 110px;
        left: 65px;
    }
    a:nth-child(3){
        width: 50px;
    }
    nav .start-About,a:nth-child(4):hover ~.animation{
        width: 110px;
        left: 215px;
    }
    
    
    nav .contact-btn{
        display: flex;
        width: 120px;
        height: 35px;
        justify-content: center;
        align-items: center;
        background: #6FC053;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        border-radius: 6px;
    }

    /* product */
    
    .home-product{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center ;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .home-product h1{
        text-transform: uppercase;
        color: #2B9BD6;
        font-size: 20px;
    }
    
    .home-product label{
        font-size: 40px;
        font-weight: 400;
        color: #565757;
        letter-spacing: 4px;
        margin: 40px 0;
    }
    
    .product-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background:#fff;
        border: 1px solid rgb(161, 161, 161);
        border-radius: 50px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .left:hover{
        transform: translate(-5px, 0);
    }
    .left img{
        width: 13px;
        height: 13px;
    }
    .middle img{
        width: 580px;
    }
    
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background:#2B9BD6;
        border-radius: 50px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .right:hover{
        transform: translate(5px,0); 
    }
    .right img{
        width: 13px;
        height: 13px;
    }
    .overview{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
    }
    .overview h2{
        display: flex;
        width: 25%;
        color: #565757;
        font-weight: 400;
        font-size: 22px;
    }
    
    .overview span{
        display: flex;
        width: 60%;
        text-align: left;
        color: #565757;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 2px;
    }
    
    /* usage and dosage */
    .usage{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        align-items: center ;
        justify-content: center;
        margin-bottom: 100px;
    }
    
    .usage h1{
        text-transform: uppercase;
        color: #2B9BD6;
        font-size: 20px;
    }
    
    .dosage{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }
    .element{
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    
    .element h2{
        color: #C9CBCB;
        font-size: 24px;
        margin-right: 26px;
    }

    .item h3{
        font-size: 18px;
        font-weight: 500;
        color: #565757;
        margin-top: 12px;
    }
    
    .item p{
        width: 80%;
        font-size: 13px;
        font-weight: 300;
        color: #565757;
        letter-spacing: 2px;
    }
    /* product about */
    .product-about{
        display: flex;
        padding-top: 100px;
        width: 100%;
        height: 100vh;
        background: url('../img/product-about.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;
    }
    .product-about-details{
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: space-between;
        width: 90%;
        color: #fff;
    }
    .product-about-details h1{
        font-size: 40px;
    }
    .product-about-details p{
        font-size: 18px;
        letter-spacing: 6px;
    }

    
    /* partner */
    
    .home-partner{
        display: flex;
        width: 100%;
        height: 550px;
        border-top: 1px solid rgb(201, 203, 203,0.5);
    }
    
    .home-partner-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .phase-text{
        display: flex;
        flex-direction: column;
        width: 85%;
    }
    .phase-text h1{
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 5px;
        color: #565757;
    }
    .phase-text p{
        font-size: 12px;
        letter-spacing: 5px;
        margin-top: 40px;
        font-weight: 300;
        color: #565757;
    }
    
    .phase-icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
    }
    .phase-icons img{
        width: 38%;
        height: 120px;
    }
    
    .home-footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 550px;
        background: #F1F1F1;
        margin-top: 150px;
    }
    
    .footer-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 85%;
    }
    .logo-black{
        width: 28%;
    }
    .links{
        display: flex;
        list-style: none;
        width: 60%;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
    .links a{
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
        color: #6FC053;
    }
    .icons{
        display: flex;
        list-style: none;
        width: 28%;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
    }
    .icons img{
        width: 28px;
    }
    .footer-end{
        display: flex;
        width: 100%;
        border-top: 1px solid rgb(201, 203, 203,0.5);
        height: 15%;
    }
    
    
    .end-details{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .end-details p{
        font-size: 14px;
        margin-top: 15px;
        color: #565757;
    }
    
    .back{
        display: flex;
        width: 20%;
        justify-content: space-between;
        align-items: center;
    }
    .back p{
        margin-top: 15px;
    }
    .float{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background:#F1F1F1;
        border: 1px solid rgb(161, 161, 161);
        border-radius: 50px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .float:hover{
        transform: translate(0, -5px);
    }
    .float img{
        width: 10px;
    }
}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px)and (max-width: 1439px) {
    .header{
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo img{
        width: 200px;
    }
    
    .header-list nav{
        display: flex;
        width: 500px;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
    }
    .header-list img{
        display: none;
    }
      nav a{
        text-decoration: none;
        color: #565757;
        font-size: 14px;
    }
    nav a:hover{
        color: #2B9BD6;
    }
    
    nav .animation{
        position: absolute;
        height: 3px;
        bottom: -32px;
        z-index: 0;
        width: 100px;
        background-color: #565757;
        transition: all .5s ease 0s;
    }
    
    a:nth-child(3){
        color: #2B9BD6;
        width: 50px;
    }
    nav .start-home,a:nth-child(2):hover ~.animation{
        width: 100px;
        left: -30px;
    }
    a:nth-child(2){
        width: 50px;
    }
    nav .start-product,a:nth-child(3):hover ~.animation{
        background-color: #2B9BD6;
        width: 110px;
        left: 104px;
    }
    a:nth-child(3){
        width: 50px;
    }
    nav .start-About,a:nth-child(4):hover ~.animation{
        width: 110px;
        left: 215px;
    }
    
    
    nav .contact-btn{
        display: flex;
        width: 120px;
        height: 35px;
        justify-content: center;
        align-items: center;
        background: #6FC053;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        border-radius: 6px;
    }
    
    .product-about{
        display: flex;
        padding-top: 100px;
        width: 100%;
        height: 100vh;
        background: url('../img/product-about.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;
    }
    .product-about-details{
        display: flex;
        flex-direction: column;
        height: 65vh;
        justify-content: space-between;
        width: 100%;
        color: #fff;
    }
    .product-about-details h1{
        font-size: 50px;
    }
    .product-about-details p{
        font-size: 20px;
        letter-spacing: 6px;
    }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1600px) {

    .product-about{
        display: flex;
        padding-top: 100px;
        width: 100%;
        height: 100vh;
        background: url('../img/product-about.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;
    }
    .product-about-details{
        display: flex;
        flex-direction: column;
        height: 55vh;
        justify-content: space-between;
        width: 100%;
        color: #fff;
    }
    .product-about-details h1{
        font-size: 80px;
    }
    .product-about-details p{
        font-size: 36px;
        letter-spacing: 6px;
    }
}

